/* PAGE */
body,
.pure-g [class*=pure-u] {
  font-family: 'Supertext 01', 'Open Sans', sans-serif;
}

body {
  background-image: url('/images/day.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #7BD434;
}

h1, h2, h3 {
  font-family: 'Supertext 01', 'Arial Narrow', sans-serif;
  font-size: 17px;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */
.navbar {
  position: fixed;
  padding: 5px;
  background: #9281ec;
  font-family: 'Supertext 01', 'Arial Narrow', sans-serif;
  box-shadow: 0px 10px 0px 0px #725de6 !important;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

#main {
  width: 1440px;
  display: flex;
  padding-top: 100px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#pixel-canvas {
  display: flex;
}

.panel {
  width: 300px;
  background-color: white;
  color: black;
  padding: 10px;
  margin-bottom: 20px;
}

.panel > hr {
  margin-bottom: 20px;
}

.panel > span {
  display: block;
  margin-top: 13px;
}

#pixel-canvas-wrapper, .panel {
  box-shadow: 10px 10px 0px 0px rgba(16, 22, 26, .40) !important;
}

/* Blueprint overrides */
.pt-button {
  background-color: #9281ec !important;
  background-image: none !important;
  color: white !important;
  border-radius: 0px;
  box-shadow: 10px 10px 0px 0px #725de6 !important;
}

.pt-button .pt-icon-standard {
  color: white !important;
}